.graph {
  background-color: #B6B691;
}

.trade-mouseover {
  font-weight: bold;
  font-size: 1.5em;
}

.ask-area  {
  fill: #945E1E;
}

.toggle-asks {
  fill: #945E1E;
}

.bid-area {
  fill: #4C7249;
}

.toggle-bids {
  fill: #4C7249;
}

.y-axis-label {
  fill: #000;
}

.toggle-trades {
  fill: black;
}
